@import "base";

@media only screen and (min-width: 0px) and (max-width: 1215px) {
  #messages {
    width: 97%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 959px) {
#header {
  .region-header {
    .block-menu {
      position: absolute;
      left: 0;
      right: 0;
      top: 130px;
      z-index: 100;
      background: #fff;
      margin: 0;
        li {
          display: block;
          margin: 0 15px;
          border-bottom: 1px solid #00b4e5;
          padding: 8px 0;
        }
        .last {
          border: none;
        }
    }
    #block-system-main-menu {
  display: none;
}
  }
}
#header .region-header .region-inner {
  #block-delta-blocks-logo {
    width: auto;
  }
  .block-menu {
    margin-top: 0;
    .menu a {
      margin: 0;
    }
  }
  .block-search {
    margin-top: 15px;
  float: right;
    margin-right: 15%;
  }
}
#block-block-7 {
  position: absolute;
  right: 15px;
  margin-top: 10px;
}

  #footer {
    .region-footer .region-inner .block {
      width: 90%;
      margin: auto;
      max-width: inherit;
      padding-bottom: 32px;
    }
    .footer-social-links {
      margin-bottom: 40px;
    }
    .content {
      .footer-information-image {
        float: none;
          a {
            margin: 0 8px 0 0;
          }
        }
      }
      .custom-footer-simplenews .form-submit {
        height: 28px;
      }
      .footer-social-links {
        margin-bottom: 0;
      }
  }

  #content-column, .content-column, div.sidebar {
    float: none;
    width: 90%;
    margin: auto;
      .region-inner {
        padding: 0;
      }
      .block-title,
      .view-popular-tags .view-content {
        max-width: 100%;
      }
      .block-title {
        margin-bottom: 22px;
      }
      .view-popular-tags {
        margin-bottom: 48px;
      }

      #block-commerce-cart-cart,
      #block-user-login {
        display: none;
      }
  }
  .sidebar .view-products-for-homepage {
    .view-content {
      > .views-row {
        width: 30%;
        @include ib;
        margin-right: 4%;
          .field-content a {
            width: auto;
          }
          .product-preview-title a {
            white-space: nowrap;    
            overflow: hidden;       
            text-overflow: ellipsis;
            display: block;         
          }
      }
      .views-row-last {
        margin-right: 0;
      }
    }
  }
  .view-categories .navigation-category-item {
    max-width: 90%;
    margin-bottom: 15px;
  }
  #main-content .view-products-for-homepage .view-content,
  .view-product-category .view-content,
  #main-content section,
  .two-sidebars #main-content {
    max-width: 100%;
  }
  .two-sidebars .content-inner {
    margin: 0;
  }

  #main-content .view-products-for-homepage .view-content .views-row {
    width: 22%;
  }

  .sidebar-first .content-inner {
    margin: 0;
  }
  .big-product-image {
    width: 59%;
  }
  .node-product .node-title {
    width: 59%;
  }

  .node-type-product {
    .field-name-field-product,
    .commerce-product-field-commerce-price {
      width: auto;
    }
  }

.node-type-product {
  #main-content .field-name-field-tags {
    margin: 13px 0 0 0;
  }
  .commerce-product-field-commerce-price {
    text-align: left;
    padding-left: 15px;
      .field-name-commerce-price {
        float: none;
        top: inherit;
        left: inherit;
        margin: 20px 0 30px 0;
      }
  } 
}

  .page-cart {
    #main-content {
      margin-bottom: 20px;
    }
  }


}

@media only screen and (min-width: 581px) and (max-width: 959px) {
  .view-frontpage-slideshow {
    .owl-pagination {
      display: block;
      font-size: 0;
          .owl-page {
            width: 24px;
            height: 24px;
            margin: 0 8px;
            background:  url(images/i/owl_page.png) no-repeat;
              span {
                display: none;
              }
          }
          .owl-page:hover,
          .active {
            background: url(images/i/owl_page_active.png) no-repeat;
          }
    }
    .owl-theme .owl-controls {
      margin: -24px 0 0 0;
      position: relative;
      bottom: 21px;
      .owl-buttons {
        display: none;
      }
    }
  }

.two-sidebars div.sidebar {
    float: none;
    width: 90%;
    margin: auto;
  }

  #footer {  
    .region-footer .region-inner .block-simplenews .form-item-mail {
      float: left;
      width: 55%;
    }
    .custom-footer-simplenews .form-submit {
      float: none;
      margin-left: 23px;
    }
  }

}
@media only screen and (min-width: 0px) and (max-width: 736px) {
  .mobile {
    .big-product-image {
      width: 100%;
    }
  .jcarousel-skin-tango {
    float: none;
    display: block;
    .jcarousel-container-horizontal,
    .jcarousel-clip-horizontal {
      width: 180px; 
    }
  }
  }
  .node-product {
    .jcarousel-container-vertical,
    .jcarousel-container-horizontal {
      .jcarousel-prev,
      .jcarousel-next {
        background-color: #b6bcc3;
        @include ib;
        width: 36px;
        height: 36px;
        top: 50%;
        margin-top: -33px;
      }

      .jcarousel-prev {
        right: inherit;
        margin-left: -50px;
        @include sprite-sprite(previous);
        display: inherit;
      }
      .jcarousel-next {
        margin-right: -40px;
        @include sprite-sprite(next);
        
      }
    }
  }
  .jcarousel-skin-tango .jcarousel-item {
    border: none;
  }
  #block-views-important-information-block,
  #block-views-frontpage-slideshow-block {
    display: none;
  }
  
.jcarousel-skin-tango {
  .jcarousel-container-vertical {
    width: 225px;
  }
  .jcarousel-prev,
  .jcarousel-next {
    right: 0;
    left: inherit;
  }
  .jcarousel-prev {
    top: 45px;
  }
  .jcarousel-next{
    bottom: 45px;
  }
}
  .node-product .node-title {
    width: 100%;
  }
}



// Mobile
@media only screen and (min-width: 0px) and (max-width: 610px) {
  .toboggan-unified #login-links a {
    line-height: 0.7;
    display: block;
    margin: 10px 0;
    }
    #edit-account,
    #user-login {
      .form-text {
        width: 90%;
        margin: auto;
      }
      .form-item-name,
      .form-item-pass {
        margin-bottom: 15px;
      }
      .login-forgot {
        margin-bottom: 10px;
      }
      .form-submit {
        padding: 0 10px;
      }
    }
    #messages {
      width: 90%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 580px) {
  .page-search {
  #main-content {
    #content {
      width: 80%;
      margin: auto;
        .form-text {
          width: 90%;
        }
    }
      ul {
        width: 86%;
        margin: 0 auto 30px auto;
      }
  }
  h2 {
    margin-bottom: 10px;
  }
}

  #search-form {
  .form-text {
    margin: 10px 0;
    }
  }
  #block-delta-blocks-breadcrumb {
    margin-bottom: 30px;
  }
  .view-important-information .view-content .views-row-even {
    margin: 0;
  }
  .region-leaderboard .region-inner {
    .block {
      display: block;
      text-align: center;
    }
    #block-block-1 .content a {
      margin: 0;
    }
  }
  .region-leaderboard .region-inner {
    padding: 0;
  }
  #header .region-header .region-inner {
    .block {
      width: auto;
    }
    #logo {
      margin: 0;
    }
  }
  .page-node-48 {
    #block-delta-blocks-breadcrumb {
      margin: 0;
    }
    .node-content {
      .field-items {
        p:first-child {
          width: auto;
        }
        p,
        ul,
        .contact-us-title {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
        ul {
          margin-bottom: 30px;
        }
      }
    }
    #content-column, .content-column {
      width: 100%;
    }
     #main-content {
       #page-title {
        border: none;
        background: #00b4e5;
        text-align: center;
        font-size: 24px;
        color: #fff;
        padding: 7px 0;
        margin: 0;
       }
      .block-webform {
        .form-actions {
          margin-bottom: 28px;
        }
        .block-title {
          border: none;
          margin: 0 auto 14px auto;
          width: 90%;
        }
        }
     } 
     .block.block-webform {
        border-top: 4px solid #edf0f3;
          h2 {
            border: none;
          }
          form {
            width: 90%;
            margin: auto;
         }
     }
  }
  .sidebar .view-products-for-homepage {
    width: 90%;
    margin: auto;
    .view-content > .views-row {
      width: 100%;
      display: block;
    }
  }
  .view-popular-tags .view-content {
    width: 90%;
    margin: auto;
  }
  .view-categories {
    .navigation-category-item .item-list .views-row {
      margin-left: 30px;
    }
     h3 {
      padding-left: 27px;
      &:after {
        left: 0;
      }
    }
  }


.mobile #content-column, .content-column {
  width: 100%;
}

.mobile {
  #main-content section .block-title  {
    font-size: 24px;
    text-align: center;
    background: #00b4e5;
    border: none;
    color: #FFF;
    padding: 8px 0px;
    margin: 0;
  }
}
.view-display-id-block_1 .view-content {
  .views-row-first {
    border-top: none;
  }
    .views-field-name {
      border-right: none;
      border-radius: 0;
      display: block;
      top: 0;
      text-align: center;
      padding: 10px 22px 12px 17px;
    }
  }
.jcarousel-skin-tango {
  float: none;
}
.big-product-image {
  width: 90%;
  margin: auto;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
  max-height: 185px;
}

.node-product {
  text-align: center;
  .field-name-field-product {
    text-align: left;
    .form-submit {
      float: none;
      margin-top: 30px;
    }
  }
}

.node-product {
  width: 90%;
  margin: auto;
    .node-title {
      width: 100%;
    }
  } 
.node-type-product #main-content .view-products-for-homepage .view-content {
  text-align: center;
    .views-row {
      width: 45%;
    }
}
.quicktabs-wrapper {
  width: 95%;
margin: auto;
margin-bottom: 25px;
p {
  width: 90%;
}
}
ul.quicktabs-tabs a {
 padding: 6px 9px 3px 9px;
}
ul.quicktabs-tabs li.active a {
  padding: 6px 9px 3px 9px;
}
.node-type-product {
  ul.quicktabs-tabs a {
    font-size: 16px;
  }
}

  .page-cart {
    .line-item-summary,
    .commerce-line-item-actions {
      width: 90%;
      margin: 0 auto 20px auto;
    }
  }
  .commerce_payment,
  .checkout-help,
  .cart_contents legend,
  #main-content #page-title,
  .checkout-buttons,
  .customer_profile_billing {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile #main-content #block-webform-client-block-7 .block-title {
    font-size: 20px;
    padding-top: 20px;
    text-align: inherit;
    background: none;
    color: inherit;
  }
}


@media only screen and (min-width: 0px) and (max-width: 450px) {
    #header .region-header {
    .block-menu {
      top: 240px;
    }
    .region-inner {
      padding: 24px 0;
      .block.block-search {
        float: left;
        width: 218px;
        margin-left: 15px;
      }
      .block-delta-blocks {
        display: block;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 24px;
      }
    }
  }
}

@media only screen and (min-width: 451px) and (max-width: 959px) {
  #block-delta-blocks-logo {
    float: left;
  }
  #block-search-form {
    clear: none;
  }
}
@media only screen and (min-width: 451px) and (max-width: 581px) {
  #header .region-header .block-menu {
    top: 164px;
  }
}
@media screen and (min-width: 960px) {
  #block-delta-blocks-logo,
  #block-system-main-menu {
   float: left;
   display: block!important; 
  }
}