@import "base";

.sidebar .view-products-for-homepage .view-content > .views-row {
  width: 100%;
  display: block;
}

div.region-leaderboard {
  .block {
    width: auto;
  }
}

.not-front #main-content .view-products-for-homepage .view-content .views-row {
  width: 21%;
}